@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    overflow-x: hidden;
}

.home {
    font-family: var(--font1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoWrapper img {
    height: 100px;
    margin-left: 18px;
}


.nav-left {
    display: flex;
}
.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 23px;
}
.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    transition: all 0.3s ease-in-out;
}
.nav-left ul li a {
    text-decoration: none;
    color: black;
}
.nav-left ul li a:hover {
    text-decoration: underline;
}

.btn {
    border-radius: 24px;
    border: none;
    background-color: #e60023;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 14px;
    margin-left: -100px;
    margin-right: 40px;
    position: relative;
    top: -15px;
    outline: none;
    padding: 15px;
}
.btn:hover {
    background-color: #a1051d;
}

.btns {
    padding: 15px;
    border-radius: 24px;
    border: none;
    min-width: 60px;
    min-height: 40px;
    background-color: #d1d1d1;
    cursor: pointer;
    color: black;
    font-weight: 700;
    font-size: 14px;
    margin-left: -60px;
    margin-right: 10px;
    position: relative;
    top: -10px;
    outline: none;
}
.btns:hover {
    background-color: #a0a0a0;
}